.atom-field {
    width: 250px;
    float: left;
    margin: 30px 0;
}

.input-number {
    padding: unset;
}

.submit {
    margin: 30px 0;
    float: right;
}

.atom-panel {
    min-height: 500px;
}